# Unneeded User-Specific Config, Version Control & Build Directories
.idea/
.gradle/
gradle/
build/

# Do not add local gradle wrapper config to git
gradlew
gradlew.bat

# Do not add complied jvm code to git
*.class
